.profileDiv{
  display: flex;
  gap: var(--spacing-large);
  margin: var(--spacing-medium);
}

.textDiv {
  margin-top: var(--spacing-xxlarge);
}

.img {
  height: 30vh;
}

.body-default-style {
  background-color: var(--color-backgroundPrimary);
  color: var(--color-textPrimary);
  font-size: var(--fonts-medium);
}