.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-medium);
}
.button-container {
  display: flex; 
  /* margin-top: var(--spacing-medium); */
}
.code {
  background-color: #343434;
  border-radius: 0.25em;
  box-decoration-break: clone;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 0.25em;
}

.button-container svg {
  font-size: var(--spacing-large);
  line-height: 1;
}

.bullet-list {
  list-style-type: disc;
}

.tiptap {
  min-height: 9.375rem;
  border: 1px solid var(--color-borderColor);
}

.tiptap > * + * {
  margin-top: 0.75em;
}
.tiptap ul, .tiptap ol {
  padding: 0 1rem;
}

.tiptap table {
	 border-collapse: collapse;
	 margin: 0;
	 overflow: hidden;
	 table-layout: fixed;
	 width: 100%;
}
 .tiptap table td, .tiptap table th {
	 border: 2px solid #ced4da;
	 box-sizing: border-box;
	 min-width: 1em;
	 padding: 3px 5px;
	 position: relative;
	 vertical-align: top;
}
 .tiptap table td > *, .tiptap table th > * {
	 margin-bottom: 0;
}
 .tiptap table th {
	 background-color: #f1f3f5;
	 font-weight: bold;
	 text-align: left;
}
 .tiptap table .column-resize-handle {
	 background-color: #adf;
	 bottom: -2px;
	 position: absolute;
	 right: -2px;
	 pointer-events: none;
	 top: 0;
	 width: 4px;
}
 .tiptap table p {
	 margin: 0;
}
 .tableWrapper {
	 padding: 1rem 0;
	 overflow-x: auto;
}
 .resize-cursor {
	 cursor: ew-resize;
	 cursor: col-resize;
}
 